= form_for @pattern do |f|
  = render "layouts/error_messages", target: @pattern
  = f.label :name
  = f.text_field :name

  = f.label :description
  = f.text_field :description

  = f.label :price
  = f.number_field :price

  = f.submit