%h1= @product.title
Price: 
= number_to_currency(@product.price)
ID: 
= @product.id
Description: 
= @product.description

= link_to "Add to Cart", line_items_path(product_id: @product), method: 'post'