!!!
%html
  %head
    %title= page_title
    %meta{content: @meta_keywords, name: "keywords"}
    %meta{content: @meta_description, name: "description"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper
      #header
        #logo
          %h1 Emtnest Embroidery Patterns and Designs
        #account
          %ul
            %li= link_to "My Account", "#"
            %li= link_to "Sign In", "#"
            %li= link_to "Create Account", "#"
            %li= link_to "Cart", carts_path
        #navbar
          %ul
            %li= link_to "Home", root_path
            %li= link_to "Patterns", products_path
      #main
        #sidebar
          %ul
            - @categories.each do |category|
              %li= link_to category.name.titleize, '#'
        #content
          = yield
      #footer
        %ul
          %li= link_to "Home", "#"
          %li= link_to "Contact", "#"
        Copyright 2013 
        = link_to "EMTnest.com", root_path
      